<h2 class='User_Header'> Welcome Mr. Admin <h2>

<h4>Here you can create game elements to push forward to MoverGami's application</h4>

<div class="menu">
	<ul class="nav">
		<li><%= link_to "Facts", facts_path %></li>
		<li><%= link_to "Badges", badges_path %> </li>
		<li><%= link_to "Challenges", challenges_path %> </li>
		<li><%= link_to "Rewards", logout_path %> </li>
		<li><%= link_to "Users", users_path %> </li>
		
	</ul>
</div>