<h1>Listing timeframes</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timeframes.each do |timeframe| %>
  <tr>
    <td><%= timeframe.type_limit %></td>
    <td><%= timeframe.value %></td>
    <td><%= link_to 'Show', timeframe %></td>
    <td><%= link_to 'Edit', edit_timeframe_path(timeframe) %></td>
    <td><%= link_to 'Destroy', timeframe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeframe', new_timeframe_path %>
