<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %> (Link for medium size image) <br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level,:required => true, placeholder: "Digit level between 1 and 30", :maxlength=>"2" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
