<% if current_user %>
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Description:</b>
	  <%= @fact.description %>
	</p>
	
	<p>
	  <b> Feature: </b>
	  <%= @fact.restriction.feature.name %>
	</br>
	  <b> Threshold: </b>
	  <%= @fact.restriction.threshold %>
	
	</p>

	<%= link_to 'Edit', edit_fact_path(@fact) %> |
	<%= link_to 'Back', facts_path %>

<% else %>
  <h3> You must be logged in to proceed. <h3>
<% end %>