<p id="notice"><%= notice %></p>

<h1> <%= @user.username %> STATS </h1> </br>

<p> <b> Number of badges unlocked: </b> <%= @stat.badgesUnlocked %> </p>

<p> <b> Number of facts completed: </b> <%= @stat.factsCompleted %> </p>

<p> <b> Rewards unlocked: </b>  <%= @stat.rewardsUnlocked %> </p>

<p> <b> Challenges completed: </b> <%= @stat.challengesCompleted %> </p>

<p> <b> Level: </b> <%= @stat.level %> </p>

<p> <b> Experience: </b> <%= @stat.experience %> xp </p>

<%= select("type_limit","id", { "Daily" => "1", "Weekly" => "2","Monthly" => "3","All Time" => "4"},options ={:prompt => "-Choose timeframe"}) %>

<div id="alltime">
	<% alltime_json = JSON.parse(@stat.alltime) %>
	
	<p> <h4> All-Time activity </h4>  </p> </br>
	<p> <b> Total distance travelled: </b> <%= alltime_json['distance'] %> meters </p>
	<p> <b> Total steps given: </b> <%= alltime_json['steps'] %> steps </p>
	<p> <b> Total energy expanded: </b> <%= alltime_json['energy'] %> kcal </p>
	<p> <b> Average speed: </b> <%= alltime_json['speed'] %> m/min </p>	
</div>



	
<% if @stat.daily %>
	
	<div id="daily">

		<% daily_json = JSON.parse(@stat.daily) %>
		
		<p> <h4> Total Daily activity </h4>  </p> </br>
		<p> <b> Total distance travelled: </b> <%= daily_json['daytotal']['lookingAtPhone']['distanceTraveled'] + 
												   daily_json['daytotal']['walking']['distanceTraveled']	+
												   daily_json['daytotal']['cycling']['distanceTraveled'] +
												   daily_json['daytotal']['standing']['distanceTraveled'] +
												   daily_json['daytotal']['running']['distanceTraveled'] %> meters </p>
		
		<p> <b> Total steps given: </b> <%= daily_json['daytotal']['lookingAtPhone']['steps'] + 
												   daily_json['daytotal']['walking']['steps']	+
												   daily_json['daytotal']['cycling']['steps'] +
												   daily_json['daytotal']['standing']['steps'] +
												   daily_json['daytotal']['running']['steps'] %> steps </p>
		
		<p> <b> Total energy expanded: </b> <%= daily_json['daytotal']['lookingAtPhone']['energy'] + 
												   daily_json['daytotal']['walking']['energy']	+
												   daily_json['daytotal']['cycling']['energy'] +
												   daily_json['daytotal']['standing']['energy'] +
												   daily_json['daytotal']['sitting']['energy'] +
												   daily_json['daytotal']['tilting']['energy'] +
												   daily_json['daytotal']['notUsingPhone']['energy'] +
												   daily_json['daytotal']['laying']['energy'] +
												   daily_json['daytotal']['running']['energy']  %> kcal </p>

		<h3> Daily activity per hour </h3>
		<!-- <% for i in 0..23 %>
	   		<h4> Hour is: <%= i %></h4> 
	   		<h5> Activity was: </h5>
	   		<p> <b> Distance travelled lookingAtPhone: </b> <%= daily_json[i.to_s]['lookingAtPhone']['distanceTraveled'] %> meters  </p>
	   		<p> <b> Distance travelled walking: </b> <%= daily_json[i.to_s]['walking']['distanceTraveled'] %> meters  </p>
	   		<p> <b> Distance travelled cycling: </b> <%= daily_json[i.to_s]['cycling']['distanceTraveled'] %> meters  </p>
	   		<p> <b> Distance travelled running: </b> <%= daily_json[i.to_s]['running']['distanceTraveled'] %> meters  </p> </br>

	   		<p> <b> Steps given lookingAtPhone: </b> <%= daily_json[i.to_s]['lookingAtPhone']['steps'] %> steps  </p>
	   		<p> <b> Steps given walking: </b> <%= daily_json[i.to_s]['walking']['steps'] %> steps  </p>
	   		<p> <b> Steps given cycling: </b> <%= daily_json[i.to_s]['cycling']['steps'] %> steps  </p>
	   		<p> <b> Steps given running: </b> <%= daily_json[i.to_s]['running']['steps'] %> steps  </p> </br>

	   		<p> <b> Energy expanded lookingAtPhone: </b> <%= daily_json[i.to_s]['lookingAtPhone']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded walking: </b> <%= daily_json[i.to_s]['walking']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded cycling: </b> <%= daily_json[i.to_s]['cycling']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded standing: </b> <%= daily_json[i.to_s]['standing']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded sitting: </b> <%= daily_json[i.to_s]['sitting']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded tilting: </b> <%= daily_json[i.to_s]['tilting']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded notUsingPhone: </b> <%= daily_json[i.to_s]['notUsingPhone']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded laying: </b> <%= daily_json[i.to_s]['laying']['energy'] %> kcal  </p>
	   		<p> <b> Energy expanded running: </b> <%= daily_json[i.to_s]['running']['energy'] %> kcal  </p> </br>
		
		<%end%> -->
	</div>

	<%= high_chart("daily_dist", @daily_chart_dist) %>
 	<%= high_chart("daily_energ", @daily_chart_energ) %>
 	<%= high_chart("daily_steps", @daily_chart_steps) %>
 	<%= high_chart("daily_activity_pie",@pie_chart) %>

<% else %>
  <h3> No daily activity information available. <h3>
<% end %>


<% if @stat.weekly  %>
	<div id="weekly">

		<% weekly_json = JSON.parse(@stat.weekly) %>

		<p> <h4> Total activity during week </h4>  </p> </br>
		<p> <b> Total distance travelled: </b> <%= weekly_json['weektotal']['lookingAtPhone']['distanceTraveled'] + 
												   weekly_json['weektotal']['walking']['distanceTraveled']	+
												   weekly_json['weektotal']['cycling']['distanceTraveled'] +
												   weekly_json['weektotal']['standing']['distanceTraveled'] +
												   weekly_json['weektotal']['running']['distanceTraveled'] %> meters </p>
		
		<p> <b> Total steps given: </b> <%= weekly_json['weektotal']['lookingAtPhone']['steps'] + 
												   weekly_json['weektotal']['walking']['steps']	+
												   weekly_json['weektotal']['cycling']['steps'] +
												   weekly_json['weektotal']['standing']['steps'] +
												   weekly_json['weektotal']['running']['steps'] %> steps </p>
		
		<p> <b> Total energy expanded: </b> <%= weekly_json['weektotal']['lookingAtPhone']['energy'] + 
												   weekly_json['weektotal']['walking']['energy']	+
												   weekly_json['weektotal']['cycling']['energy'] +
												   weekly_json['weektotal']['standing']['energy'] +
												   weekly_json['weektotal']['sitting']['energy'] +
												   weekly_json['weektotal']['tilting']['energy'] +
												   weekly_json['weektotal']['notUsingPhone']['energy'] +
												   weekly_json['weektotal']['laying']['energy'] +
												   weekly_json['weektotal']['running']['energy']  %> kcal </p>

		<h3> Week activity per day </h3>
		
	</div>

	<%= high_chart("weekly_dist", @weekly_chart_dist) %>
	<%= high_chart("weekly_energ", @weekly_chart_energ) %>
	<%= high_chart("weekly_steps", @weekly_chart_steps) %>

<% else %>
  <h3> No weekly activity information available. <h3>
<% end %>

<% if (@stat.monthly)  %>
	<div id="monthly">

		<% monthly_json = JSON.parse(@stat.monthly) %>

		<p> <h4> Total activity during month </h4>  </p> </br>
		<p> <b> Total distance travelled: </b> <%= monthly_json['monthtotal']['lookingAtPhone']['distanceTraveled'] + 
												   monthly_json['monthtotal']['walking']['distanceTraveled']	+
												   monthly_json['monthtotal']['cycling']['distanceTraveled'] +
												   monthly_json['monthtotal']['standing']['distanceTraveled'] +
												   monthly_json['monthtotal']['running']['distanceTraveled'] %> meters </p>
		
		<p> <b> Total steps given: </b> <%= monthly_json['monthtotal']['lookingAtPhone']['steps'] + 
												   monthly_json['monthtotal']['walking']['steps']	+
												   monthly_json['monthtotal']['cycling']['steps'] +
												   monthly_json['monthtotal']['standing']['steps'] +
												   monthly_json['monthtotal']['running']['steps'] %> steps </p>
		
		<p> <b> Total energy expanded: </b> <%= monthly_json['monthtotal']['lookingAtPhone']['energy'] + 
												   monthly_json['monthtotal']['walking']['energy']	+
												   monthly_json['monthtotal']['cycling']['energy'] +
												   monthly_json['monthtotal']['standing']['energy'] +
												   monthly_json['monthtotal']['sitting']['energy'] +
												   monthly_json['monthtotal']['tilting']['energy'] +
												   monthly_json['monthtotal']['notUsingPhone']['energy'] +
												   monthly_json['monthtotal']['laying']['energy'] +
												   monthly_json['monthtotal']['running']['energy']  %> kcal </p>

		<h3> Month activity per day </h3>

		
	</div>

	<%= high_chart("monthly_dist", @monthly_chart_dist) %>
	<%= high_chart("monthly_energ", @monthly_chart_energ) %>
	<%= high_chart("monthly_steps", @monthly_chart_steps) %>
	
	<%= high_chart("my_bar_div", @stacked_column) %>
	 

<% else %>
  <h3> No monthly activity information available. <h3>
<% end %>